<head>
    <title> The contents of database with myDB</title>
</head>

<body>
<h1>User Information</h1>
<form action="{% url 'polls:showdb' %}" method="post">
    {% csrf_token %}
    <lable for="name">姓名：</lable>
    <input type="text" name="new_name"/><br />
    <lable for="eamil">Email:</lable>
    <input type="text" name="new_email"/><br />
    <lable for="tel_num">手机号:</lable>
    <input type="text" name="new_telnum"/><br />
    <lable for="china_id">身份证号:</lable>
    <input type="text" name="new_chinaid"/><br />
    <input type="submit" value="提交"/>
</form>
<div>
    <table broder="2">
            <tr>
                <th>用户名</th>
                <th>Email</th>
                <th>手机号</th>
                <th>身份证号</th>
            </tr>
            {%for line in user_list %}
                <tr>
                    <td>{{ line.name }}</td>
                    <td>{{ line.email }}</td>
                    <td>{{ line.tel_num }}</td>
                    <td>{{ line.china_id }}</td>
                </tr>
            {% endfor %}
    </table>
</div>
</body>